#cloud-config

package_update: true

packages: ['snapd']

fqdn: "${hostname}.${domain}"

runcmd: 
 - echo "127.0.0.1 ${hostname} ${hostname}.${domain} >> /etc/hosts"
 - snap install --classic aws-cli
 - aws s3 cp s3://maximumpigs-various/splunk.deb /opt/splunk.deb
 - aws s3 cp s3://maximumpigs-various/Splunk.License /opt/splunk.license
 - aws s3 cp s3://maximumpigs-various/index_and_forward.tgz /opt/index_and_forward.tgz
 - dpkg -i /opt/splunk.deb
 - /opt/splunk/bin/splunk enable boot-start -user splunk -systemd-managed 1
 - rm /opt/splunk.deb